.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    border: 1px solid grey;
    /* width: 100%; */
    width: 25vw;
    /* height: 100%; */
    height: 40vh;
    margin: 20px auto;
    font-size: 25px;
    font-weight: bold;
    font-family: 'cambria';
    box-shadow: 0px 0px 5px black;
    transition: 0.2s;
    cursor: pointer;
}
.main:hover{
    transform: scale(1.08);
    box-shadow: 0px 0px 20px black;
}